<html>
    <head>
<title>
    <h3>welcome to Home page</h3>
</title>
    </head>
    <body>
        <h1>
            Hi how can i help you.
            <!-- <%= username %> -->
        </h1>
    </body>
</html>